<script type="text/ng-template" id="templates/campus.html">

  <div class="cc-page-campus" data-ng-cloak data-cc-spinner-directive>

    <div class="medium-9 medium-push-3 columns cc-page-campus-content">

      <h1 data-ng-bind="currentTopCategory"></h1>

      <div class="cc-widget" data-ng-if="currentTopCategory">
        <div class="cc-widget-title">
          <h2>Links</h2>
        </div>

        <div data-ng-if="currentTopCategory === 'Food & Housing'">

          <div class="cal1card-widget" data-ng-controller="cal1cardController">

            <h2> Cal 1 Card </h2>

            <p>Your current balance: {{ amount | currency }}</p>
            
            <div>
              <p data-ng-repeat="button in buttons">
                
                <button type="button" class="btn  {{button.cal1cardButtonType}}  pull-right" ng-click="button.cal1cardButtonAction()">{{button.cal1cardButtonLabel}}</button>
              </p>
              
            </div>

            <p><%= link_to "Check transactions", '/#' %></p>

          </div>

          <div class="twitter-widget" data-ng-controller="twitterController">
            <p>Displaying 
              <select data-ng-model="selection" data-ng-options="number for number in numberOfTweets"></select> Tweets
            </p>
            <img src="app/assets/images/glass_magnifying_200x175.jpg">
            <ul class="tweets">
              <li class="tweet-individual" data-ng-repeat="tweet in tweets | orderBy: '-id' | limitTo:selection">
                <p style="color:red">[For testing purposes] selection: {{selection}}, $index: {{$index}}</p>
                <p>{{tweet.user_name}}</p>
                <p>{{tweet.user_id}}</p>
                <p><%= image_tag "images/glass_magnifying_200x175.jpg" %><img src="images/glass_magnifying_200x175.jpg"></p>
                <p><img data-ng-src="{{tweet.user_picture}}"></p>
                <p>{{tweet.tweet}}</p>
                <p>Date: {{tweet.time}}</p>
                <p>Retweets: {{tweet.retweets}}</p>
                <p>Favorites: {{tweet.favorites}}</p>
              </li>
            </ul>

          </div>

          <!-- TESTING CLASSES 
          <div class="test-classes" data-ng-controller="myClassesController">

            <li class="test-class" data-ng-repeat="oneclass in classes"></li>

          </div>
          TESTING CLASSES END -->

        </div>

        <div class="cc-list-link-container" data-ng-repeat="subcategory in subcategories">
          <h3>{{subcategory}}</h3>
          <ul class="cc-list-links">
            <li data-ng-repeat="link in links | orderBy:'name' | linksubcategory:subcategory">
              <a data-ng-href="{{link.url}}"
                data-ng-click="api.analytics.trackExternalLink('Campus links', subcategory, link.url)"
                title="{{link.description}}">{{link.name}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="medium-3 medium-pull-9 columns cc-page-campus-navigation" id="cc-local-navigation">

      <div data-ng-repeat="navitem in navigation">
        <h3 data-ng-if="navitem.label">{{navitem.label}}</h3>
        <ul>
          <li data-ng-class="{'active':(currentTopCategory==category.name)}" data-ng-repeat="category in navitem.categories" data-ng-show="topcategories[category.name]">
            <a data-ng-href="/campus/{{category.id}}">{{category.name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>




</script>
